{% extends 'layouts/layout.twig' %}

{% block title %}
    Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/public/css/home.css" />
{% endblock %}

{% block content %}
    <div class="col-3 col-s-4">

    </div>
    <div class="col-7 col-s-8">
        <h1>Welcome!</h1>
    </div>
    <div class="col-2 col-s-12">

    </div>
{% endblock %}

{% block js %}
    <script src="/src/public/js/home.js"></script>
{% endblock %}
