{% extends 'layouts/layout.twig' %}

{% block title %}
    Sign In
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/public/css/log-reg.css" />
{% endblock %}

{% block content %}
    <div class="col-4 col-s-3"></div>
    <div class="col-4 col-s-6">
        <!-- FORM ELEMENT -->
        <div id="container">
            <div>
                <h1><i class='fas fa-sign-in-alt'></i> Sign In</h1>
                <hr>

                {% if errorMessage is defined %}
                    <p id="err"><strong>{{ errorMessage }}</strong></p>
                {% endif %}

                <p id="val-info"></p>
            </div>

            <form name="login" method="post" action="/login"
                onsubmit="return validateForm()">
                <label for="email">
                    <i class='fas fa-envelope'></i><b> Email</b>
                </label>
                <input type="email" placeholder="Enter Email" name="email">

                <label for="password">
                    <i class='fas fa-key'></i><b> Password</b>
                </label>
                <input type="password" placeholder="Enter Password"
                    name="password">

                <hr>

                <input type="submit" value="Sign In">
            </form>

            <p id="bt">Don't have an account?
                <a href="/register/get-form">Sign up</a>.
            </p>
        </div>
    </div>
    <div class="col-4 col-s-3"></div>
{% endblock %}

{% block js %}
    <script src="/src/public/js/login.js"></script>
{% endblock %}
