<!DOCTYPE html>
<html lang="en">
    <head>
		<title>{% block title %}{% endblock %} - Testapp</title>
	    <meta charset="UTF-8">
		<meta name="description" content="This is a test">
		<meta name="keywords" content="test, web, development">
		<meta name="author" content="VexOn">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- LOAD CSS -->
        <link rel="stylesheet" href="/src/public/css/layout.css" />
        {% block css %} {% endblock %}
        <!-- LOAD ICONS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <!-- LOAD jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

    <body>
        <!-- ************************** HEADER **************************** -->
        <header>
            <h2>Just a simple Testapp...</h2>
        </header>

        <!-- *********************** NAVIGATION BAR *********************** -->
        <nav class="topnav" id="myTopnav">
            <!-- LEFT -->
            <a href="/"><i class='fas fa-home'></i></a>
            <!-- SEARCH -->
            <div class="l-nav search-container">
                <form action="/search" method="get">
                    <input type="search" placeholder="Search for users"
                        name="username">
                    <button type="submit"><i class='fas fa-search'></i></button>
                </form>
            </div>
            <!-- RIGHT -->
            <div class="r-nav">
                {% if isAuth %}
                    <a href="/logout">
                        <i class='fas fa-sign-out-alt'></i> Sign out
                    </a>
                {% else %}
                    <a href="/register/get-form">
                        <i class='fas fa-user-plus'></i> Sign up
                    </a>
                    <a href="/login/get-form">
                        <i class='fas fa-sign-in-alt'></i> Sign in
                    </a>
                {% endif %}
            </div>
            <!-- COLLAPSE NAVBAR BUTTON -->
            <a href="javascript:void(0);" class="trigram"
                onclick="collapseNav()">&#9776;
            </a>
        </nav>

        <!-- *********************** CONTENT BLOCK ************************ -->
        <div id="main" class="row">
		    {% block content %}{% endblock %}
        </div>

        <!-- ************************** FOOTER **************************** -->
        <footer>
            <div id="l-footer">
                <p>Developed by <span>Vex</span>, 2018.</p>
                <p>Contact: <span>reduvius@protonmail.com</span></p>
            </div>
            <div id="r-footer">
                <a href="https://github.com/reduvius/testapp" target="_blank"
                    title="GitHub repository of this app">
                    <i class='fab fa-github'></i>
                </a>
            </div>
        </footer>

        <!-- ************************** LOAD JS *************************** -->
        <script src="/src/public/js/layout.js"></script>
        {% block js %} {% endblock %}
    </body>

</html>
